
 .container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu nav {
    display: flex;
    justify-content: space-around;

}
.menu nav a {
    color: black;
    padding-top: 60px;
    text-decoration: none;
    font-size: 25px;

}

.painel {
    display: flex;
    justify-content: center;
    height: 350px;
}

h2 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    text-transform: uppercase;

}

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.sobre p {
    text-align: center;

}

.ofertas nav {
    display: flex;
    justify-content: center;
    
}

.card img {
    padding: 10px;
}

.contatos {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    background-color: black;
    color: white;
}

.contatos li{
    list-style: none;
    padding-top: 1rem;
    text-align: center;
    
}

.contatos a {
    text-decoration: none;
    color: white;
}

.logo-footer {

    align-items: center;
}

.formulario {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;   
}

.formulario fieldset {
    padding: 2rem 2rem;
    margin-top: 2rem;

}

.formulario input, .formulario label {
    margin-top: 5px;
    margin-bottom: 10px;
}


/* Responsividade do site */


/* 800px*/

@media (max-width: 650px)  {

    .menu nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .painel {
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

    .ofertas nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contatos {
        font-size: 20px;
    }

   
}

@media (max-width:950px) {
    .ofertas nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Quando tela for menor o ultimo card fica invisivel*/
    .card3 {
        display: none;
    }
}
